* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: white;
}

.sleep-text,
.power-off-text,
.lock-text,
.logout-text,
.reboot-text {
  font-size: 20px;
  font-family: "Iosevka Nerd Font Propo";
}

.sleep-box,
.power-off-box,
.lock-box,
.logout-box,
.reboot-box {
  background-color: #0f0f0f;
  padding: 0px;
  margin: 10px;
  border-radius: 13px;
  transition: all 0.3s ease;
}


.sleep-box button,
.power-off-box button,
.lock-box button,
.logout-box button,
.reboot-box button {
  padding: 10px 20px;
  border-radius: 13px;
  transition: all 0.3s ease;
  background-color: transparent;
}


.lock-box button:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(200, 182, 255, 0.4);
}

.sleep-box button:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(184, 224, 210, 0.4);
}

.logout-box button:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(216, 226, 220, 0.4);
}

.reboot-box button:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(255, 214, 186, 0.4);
}

.power-off-box button:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(255, 173, 173, 0.4);
}

.lock-box button:hover .sleep-text,
.sleep-box button:hover .sleep-text,
.logout-box button:hover .sleep-text,
.reboot-box button:hover .sleep-text,
.power-off-box button:hover .sleep-text {
  color: #0f0f0f;
}

.main-box {
  background-color: black;
  padding: 4px;
  margin: 480px 690px;
  border-radius: 19px;
}





