
//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

@theme "/usr/share/rofi/themes/android_notification.rasi"
