* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font",  sans-serif;
    font-size: 14px;
    min-height: 35px;
}

window#waybar {
    background: transparent;
    border-radius: 24px;
}

#workspaces,
#battery,
#custom-hyprland-spotify { 
background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 5px;  
    color: white;
}
#clock,
#custom-cava,
#custom-hyprland-window,
#datetime-power {
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 5px;
    color: white;
}

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    background-color: black;
    border-radius: 10px;
    padding: 0 18px;
    margin: 1px;
    color: white;
}
#workspaces button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

#window {
    color: white;
    font-weight: 500;
}

#battery {
    color: rgba(224, 176, 255, 0.5);
}

#battery.critical,
#battery.warning {
    color: rgba(224, 176, 255, 0.5);
}

#battery.critical {
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0.5;
    }
}
s

#group-window #pulseaudio {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 8px 0 0;
    color: inherit;
}


#datetime-power #clock {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 8px 0 0;
    color: inherit;
}

#datetime-power #custom-power {
    background-color: transparent;
    border: red;
    padding: 0;
    margin: 0;
}

#group-work-clock {
    padding: 0;
}

#clock {
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 5px;
    color: white;
}

#custom-hyprland-spotify { 
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 5px;
    color: white;
}

#custom-cava {
    color: #8FBC8F;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 6px;
    font-family: "bargraph";
    font-size: 22px;
}
#datetime-power button:hover { 
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px 5px;
    color: black;
}




tooltip {
    background-color: black;
    border: 1px solid rgba(137, 180, 250, 0.3);
    border-radius: 8px;
    color: white;
    font-size: 12px;
}

tooltip label {
    color: white;
}
